@using System.Security.Claims
@using UMCTravelTour.Service.Bookings;
@inject IBookingService _bookingService;

@{
    var userIdentity = (ClaimsIdentity)User.Identity;
    var claims = userIdentity.Claims;
    var roleClaimType = userIdentity.RoleClaimType;
    var roles = claims.Where(c => c.Type == ClaimTypes.Role).ToList();
    var role = roles.Select(c => c.Value).FirstOrDefault();
}
<style>
    ul li {
        margin-top: -8px;
    }
</style>
<nav class="sidebar sidebar-offcanvas" id="sidebar" style="position:fixed; top:0px; height:100%;">
    <ul class="nav">
        <li class="nav-item nav-profile">
            <a href="#" class="nav-link">
                <div class="nav-profile-image">
                    <img src="~/assets/images/faces/face1.jpg" alt="profile" />
                    <span class="login-status online"></span>
                    <!--change to offline or busy as needed-->
                </div>
                <div class="nav-profile-text d-flex flex-column pr-3">
                    @if (User.Identity.Name != null)
                    {
                        <span class="font-weight-medium mb-2">@User.Identity.Name</span>
                        if (@role == Constant.Role.Administrator)
                        {
                            <span class="font-weight-normal">@Constant.RoleName.Administrator</span>
                        }
                        if (@role == Constant.Role.Manager)
                        {
                            <span class="font-weight-normal">@Constant.RoleName.Manager</span>
                        }
                        if (@role == Constant.Role.Employee)
                        {
                            <span class="font-weight-normal">@Constant.RoleName.Employee</span>
                        }
                    }
                </div>
                @*                <span class="badge badge-danger text-white ml-3 rounded">3</span>*@
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="Index" asp-controller="Home" asp-area="Admin">
                <i class="mdi mdi-home menu-icon"></i>
                <span class="menu-title">Trang chủ</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="User" asp-action="Index">
                <i class="fa fa-lock menu-icon"></i> &ensp;&nbsp;
                <span class="menu-title">Quản lý tài khoản</span>

            </a>

        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Hotel" asp-action="Index">
                <i class="fa fa-university menu-icon" aria-hidden="true"></i>
                <span class="menu-title">Quản lý khách sạn</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Restaurants" asp-action="Index">
                <i class="fa fa-cutlery menu-icon" aria-hidden="true"></i>  &ensp;
                <span class="menu-title">Quản lý nhà hàng</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Rooms" asp-action="Index">
                <i class="fa fa-bed menu-icon" aria-hidden="true"></i>
                <span class="menu-title">Quản lý phòng</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Location" asp-action="Index">
                <i class="fa fa-plane menu-icon" aria-hidden="true"></i>  &ensp;
                <span class="menu-title">Quản lý điểm đến</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Customers" asp-action="Index">
                <i class="mdi mdi-account-multiple-outline menu-icon"></i>  &nbsp;
                <span class="menu-title">Quản lý khách hàng</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Tours" asp-action="Index">
                <i class="mdi mdi-table-large menu-icon"></i>  &nbsp;
                <span class="menu-title">Quản lý tour</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <i class="fa fa-cart-arrow-down menu-icon" aria-hidden="true"></i>
                <span class="menu-title">Quản lý booking</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
                <!------------>
                <ul class="nav flex-column">

                    <li class="nav-item">
                        <a class="nav-link notification" asp-controller="Bookings" asp-action="Index">
                            <i class="fa fa-cart-plus menu-icon" aria-hidden="true"></i><span class="badge">@_bookingService.GetAll().Count()</span>
                            Tất cả chuyến đi
                        </a>
                    </li>
                    <li class="nav-item">

                        <a class="nav-link notification" asp-controller="Bookings" asp-action="GetByStatus" asp-route-status="@Constant.StatusBooking.Pending">
                            <i class="fa fa-cart-plus menu-icon" aria-hidden="true"></i><span class="badge">@_bookingService.CountByStatus(@Constant.StatusBooking.Pending)</span>
                            Đang chờ
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link notification" asp-controller="Bookings" asp-action="GetByStatus" asp-route-status="@Constant.StatusBooking.Approved">
                            <i class="fa fa-cart-plus menu-icon" aria-hidden="true"></i><span class="badge">@_bookingService.CountByStatus(@Constant.StatusBooking.Approved)</span>
                            Đã duyệt
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link notification" asp-controller="Bookings" asp-action="GetByStatus" asp-route-status="@Constant.StatusBooking.Cancelled">
                            <i class="fa fa-cart-plus menu-icon" aria-hidden="true"></i><span class="badge">@_bookingService.CountByStatus(@Constant.StatusBooking.Cancelled)</span>
                            Huỷ bỏ
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link notification" asp-controller="Bookings" asp-action="GetByStatus" asp-route-status="@Constant.StatusBooking.Deposited">
                            <i class="fa fa-cart-plus menu-icon" aria-hidden="true"></i><span class="badge">@_bookingService.CountByStatus(@Constant.StatusBooking.Deposited)</span>
                            Đã cọc
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link notification" asp-controller="Bookings" asp-action="GetByStatus" asp-route-status="@Constant.StatusBooking.Completed">
                            <i class="fa fa-cart-plus menu-icon" aria-hidden="true"></i><span class="badge">@_bookingService.CountByStatus(@Constant.StatusBooking.Completed)</span>
                            Đã hoàn thành
                        </a>
                    </li>
                </ul>
                <!------------>
            </div>

        </li>

        <li class="nav-item">
            <a class="nav-link" asp-controller="EmailTemplates" asp-action="Index">
                <i class="fa fa-envelope-o menu-icon" aria-hidden="true"></i> &nbsp;
                <span class="menu-title">Quản lý Email</span>
            </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" asp-controller="StaticContents" asp-action="Index">
        <i class="fa fa-cogs menu-icon" aria-hidden="true"></i> &nbsp;
        <span class="menu-title">Quản lý cấu hình</span>
        </a>
        </li>
    </ul>
</nav>