@using Microsoft.AspNetCore.Http;
@using UMCTravelTour.Service.Customers
@model IEnumerable<UMCTravelTour.ViewModel.Bookings.BookingVm>
@inject ICustomerService _customerService;
@{
    ViewData["Title"] = "Booking của bạn";
}

@section Scripts {
    <script type="text/JavaScript">
        if (ViewData["NotFound"] != null) {
            alert(ViewData["NotFound"]);
            return;
        }
    </script>
}
<partial name="_HeaderPartial" />
<div class="container">
    <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(x=>x.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(x=>x.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(x=>x.Status)
            </th>
            @*<th>
                @Html.DisplayNameFor(x=>x.Data.GetEnumerator().Current.ExpectedPrice)
            </th>*@
            <th>
                @Html.DisplayNameFor(x=>x.TourId)
            </th>
            <th>
                @Html.DisplayNameFor(x=>x.TotalPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
                <tr>
                    <td style="vertical-align:middle; text-align:center">
                    @item.StartDate.ToShortDateString()
                </td>
                    <td style="vertical-align:middle; text-align:center">
                    @item.EndDate.ToShortDateString()
                </td>
                    <td style="vertical-align:middle; text-align:center">
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                    <td style="vertical-align:middle; text-align:center">
                    @Html.DisplayFor(modelItem => item.TourId)
                </td>
                    <td style="vertical-align:middle; text-align:center">
                    @Html.DisplayFor(modelItem => item.ExpectedPrice)
                </td>
                <!-- Example single danger button -->

            <td class="center">
                    <div class="btn-group" style="margin-top:0">
                        <a class="btn-solid-reg page-scroll" href="@Url.Action("Tracking","Booking", new { id = item.BookingId})">XEM CHI TIẾT</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>
