@using UMCTravelTour.Service.Customers;
@using UMCTravelTour.Service.Hotels;
@using UMCTravelTour.Service.Restaurants;
@using UMCTravelTour.Service.Rooms;
@using UMCTravelTour.Service.Tours;
@using UMCTravelTour.ViewModel.Rooms;
@using static UMCTravelTour.Common.Constants.Constant;
@model UMCTravelTour.ViewModel.Bookings.BookingVm
@{
    ViewData["Title"] = "Chuyến đi của bạn";
}
@inject IRoomService roomService
@inject ITourService tourService
@inject ICustomerService customerService
@inject IHotelService hotelService
@inject IRestaurantService restaurantService
@{
    var relateTour = await tourService.GetByIdAsync(Model.TourId);
    var relateRoom = await roomService.GetByIdAsync(Model.RoomId, relateTour.HotelId);
    if(relateRoom == null)
    {
        relateRoom = new RoomVm();
        relateRoom.RoomName = "Business";
        relateRoom.Price = 500000;
        relateRoom.Description = "Phòng thương gia";
    }
    var relateCustomer = await customerService.GetByIdAsync(Model.CustomerId);
    var relateHotel = await hotelService.GetByIdAsync(relateTour.HotelId);
    var relateRestaurant = await restaurantService.GetByIdAsync(1);
}
@section Scripts {
    <script type="text/JavaScript">

        $(document).ready(function () {
            changeStatus();
        });
        function changeStatus(){
            var status = $("#status").text();
            if (status == "Phê duyệt") {
                $("#pending").attr("class", "step active");
            }
            if (status == "Đã đặt cọc") {
                $("#pending").attr("class", "step active");
                $("#deposit").attr("class", "step active");
            }
            if (status == "Trong chuyến đi") {
                $("#pending").attr("class", "step active");
                $("#deposit").attr("class", "step active");
                $("#approved").attr("class", "step active");
            }
            if (status == "Hoàn thành") {
                $("#pending").attr("class", "step active");
                $("#deposit").attr("class", "step active");
                $("#approved").attr("class", "step active");
                $("#completed").attr("class", "step active");
            }
        }
    </script>
}
<partial name="_HeaderPartial" />
<div oncontextmenu='' class='snippet-body'>
        <div class="container">
            <article class="card">
                <header class="card-header"> Trạng thái chuyến đi </header>
                <div class="card-body">
                    <h3>Thông tin chuyến đi</h3>
                    <article class="card">
                        <div class="card-body row">
                        <div class="col"> <strong>Ngày bắt đầu:</strong> <br>@Model.StartDate.ToShortDateString()</div>
                            <div class="col"> <strong>Thực hiện bởi:</strong> <br> ADMIN | <i class="fa fa-phone"></i> +1598675986 </div>
                        <div class="col"> <strong>Trạng thái:</strong> <br> <div id="status">@Model.Status</div> </div>
                        <div class="col"> <strong>Mã chuyến đi #:</strong> <br> @Model.BookingId </div>
                        </div>
                    </article>
                    <div class="track">
                    <div class="step" id="pending"> <span class="icon"> <i class="fa fa-spinner"></i> </span> <span class="text">Chờ xác nhận</span> </div>
                    <div class="step" id="deposit"> <span class="icon"> <i class="fa fa-credit-card"></i> </span> <span class="text">Chờ cọc</span> </div>
                    <div class="step" id="approved"> <span class="icon"> <i class="fa fa-bus"></i> </span> <span class="text">Trong chuyến đi </span> </div>
                    <div class="step" id="completed"> <span class="icon"> <i class="fa fa-check"></i> </span> <span class="text">Đã hoàn thành</span> </div>
                    </div>
                    <hr style="margin-top: 150px;">
                    <table class="table">
                        <tr>
                        <td scope="col">CHUYẾN #</td>
                        <td scope="col">@Model.BookingId</td>
                        <td scope="col">@relateTour.TourName</td>
                        </tr>
                        <tr>
                        <td>Ngày đặt chuyến</td>
                            <td>@Model.StartDate.AddDays(-7).ToShortDateString()</td>
                            <td>@relateCustomer.Address </td>
                        </tr>
                        <tr>
                        <td>CHI TIẾT ĐẶT CHUYẾN</td>
                            <td></td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                        <td>Ngày khởi hành</td>
                        <td id="date">@Model.StartDate.ToShortDateString()</td>
                            <td>

                            </td>
                        </tr>
                        <tr>
                        <td>Ngày kết thúc</td>
                        <td>@Model.StartDate.ToShortDateString()</td>
                            <td>
                            @relateCustomer.Email
                            </td>
                        </tr>
                        <tr>
                        <td>Loại phòng</td>
                            <td>@relateRoom.RoomName</td>
                            <td>
                                @relateCustomer.Phone
                            </td>
                        </tr>
                        <tr>
                            <td>Số khách</td>
                            <td>@Model.TourParticipantCount</td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                        <td>ĐƯỢC ĐẶT BỞI</td>
                            <td></td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                        <td>Tên khách hàng</td>
                        <td style="font-weight: bold;">@relateCustomer.CustomerName</td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                        <td>Liên hệ</td>
                        <td style="font-weight: bold;"> <u>@relateCustomer.Email</u> </td>
                            <td>
                            </td>
                        </tr>
                    </table>
                    <br><br>
                    <table class="table">
                        <thead>
                            <tr>
                            <th scope="col">Mô tả</th>
                                <th scope="col">Đơn tính</th>
                                <th scope="col">Số lượng</th>
                            <th scope="col">Tổng</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr>
                                <th scope="row">Khách sạn: @relateHotel.HotelName</th>
                                <td></td>
                                <td style="text-align: center;"></td>
                                <td></td>
                            </tr>
                            <tr>
                            <th scope="row">Phòng: @relateRoom.Description</th>
                                <td>@((int)relateRoom.Price)</td>
                                <td style="text-align: center;">@Model.TourParticipantCount</td>
                            <td>@((int)relateRoom.Price * Model.TourParticipantCount)</td>
                            </tr>
                            <tr>
                            <th scope="row">Nhà hàng: @relateRestaurant.RestaurantName</th>
                                <td></td>
                                <td style="text-align: center;"></td>
                                <td></td>
                            </tr>
                            <tr>
                            <th scope="row">Lộ trình: @relateTour.TourName</th>
                                <td></td>
                                <td style="text-align: center;"></td>
                            <td>@((int)relateTour.TotalPrice)</td>
                            </tr>
                            <tr style="font-weight: bold;">
                                <th scope="row"></th>
                                <td></td>
                                <td>Phần trăm VAT(%)</td>
                                <td style="text-align: center;">10%</td>
                            </tr>
                            <tr style="font-weight: bold;">
                                <th scope="row"></th>
                                <td></td>
                                <td>Thuế VAT</td>
                            <td>@(((int)relateRoom.Price * Model.TourParticipantCount + (int)relateTour.TotalPrice) * 10 / 100)</td>
                            </tr>
                            <tr style="font-weight: bold;">
                                <th scope="row"></th>
                                <td></td>
                                <td>Tổng ước tính</td>
                            <td>@(((int)relateRoom.Price * Model.TourParticipantCount + (int)relateTour.TotalPrice) + (((int)relateRoom.Price * Model.TourParticipantCount + (int)relateTour.TotalPrice) * 10 / 100))</td>
                            </tr>
                        </tbody>
                    </table>
                    <hr>
                    <a href="#" class="btn btn-warning" data-abc="true"> <i class="fa fa-chevron-left"></i> Quay lại</a>
                </div>
            </article>
        </div>
</div>
